<form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
    <div>
        <input 
        placeholder="Name" 
        name="name" 
        [(ngModel)]="user.name" 
        class="from-control my-2" 
        required
        #name="ngModel">

        @if (name.invalid && (name.dirty || name.touched)) {
            @if (name.errors!['required']) {
                <div class="text-danger">
                    El nombre es requerido
                </div>
            }   
        }
    </div>
    <div>
        <input 
        placeholder="Lastname" 
        name="lastname" 
        [(ngModel)]="user.lastName" 
        class="from-control my-2" 
        required
        #lastname="ngModel">

        @if (name.invalid && (lastname.dirty || lastname.touched)) {
            @if (lastname.errors!['required']) {
                <div class="text-danger">
                    El apellido es requerido
                </div>
            }
        }
    </div>
    <div>
        <input 
        placeholder="Email"
        name="email" 
        [(ngModel)]="user.email" 
        class="from-control my-2" 
        type="email" 
        required
        email
        #email="ngModel">

        @if (email.invalid && (email.dirty || email.touched)) {
            @if (email.errors!['required']) {
                <div class="text-danger">
                    El email es requerido
                </div>
            }
            @if (email.errors!['email']) {
                <div class="text-danger">
                    El email no tiene el formato correcto
                </div>
            }
        }
    </div>
    <div>
        <input 
        placeholder="Username" 
        name="userName" 
        [(ngModel)]="user.userName" 
        class="from-control my-2" 
        required
        minlength="8" 
        #userName="ngModel">

        @if (userName.invalid && (userName.dirty || userName.touched)) {
            @if (userName.errors!['required']) {
                <div class="text-danger">
                    El userName es requerido
                </div>
            }
            @if(userName.errors!['minLength']){
                <div class="text-danger">
                    El user name debe contener almenos 8 carácteres
                </div>
            }
        }
    </div>
    <div>
        <input 
        placeholder="Password" 
        type="password" 
        [(ngModel)]="user.password" 
        class="from-control my-2" 
        required
        minlength="6" 
        #password="ngModel">

        @if (password.invalid && (password.dirty || password.touched)) {
            @if (password.errors!['required']) {
                <div class="text-danger">
                    Password es requerida
                </div>
            }
            @if(password.errors!['minLength']){
                <div class="text-danger">
                    Password debe contener almenos 6 carácteres
                </div>
            }
        }
    </div>

    <div>
        <button 
        type="submit" 
        class="btn btn-primary my-2"
        [disabled]="userForm.invalid"
        >
            Create
        </button>
    </div>

</form>